<%= render 'shared/error_messages', object: @recipe %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.text_field :category, class: 'form-control' %>
  </div>

<h2>Ingredients (<span id="ingredient_counter"><%= @recipe.recipe_products.size %></span>)</h2> 
<ul id='ingredient_list'>
  <%= f.fields_for :recipe_products do |product_form| %>
    <li>
      <%= product_form.object.name %>
      <a class="delete_ingredient_button" href="#" data-turbolinks="false">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </a>
      <%= product_form.hidden_field :name, 'data-index': product_form.options[:child_index] %>
    </li> 
  <% end %>
</ul>

<div class="form-group">
  <div class="form-inline">
      <%= text_field :new_ingredient, :name, class: "form-control" %>
      <a id="add_ingredient_button" class="btn btn-primary" href="#" data-turbolinks="false">Add Ingredient</a>
  </div>
</div>

<script>
  $('#add_ingredient_button').click(function() {
    var $new_ingredient_name = $('#new_ingredient_name');
    var name = $new_ingredient_name.val();
    var $list = $('#ingredient_list');
    var $ingredient_counter = $('#ingredient_counter');

    // Find the last element with data-index to calculate the next one
    var $data_indices = $('input[data-index]');
    var next_index = 0;

    if($data_indices.length > 0) {
      next_index = $data_indices.last().data('index') + 1;
    }

    //TODO: Can these be rendered more simply with rails helpers?
    var delete_icon = '<a class="delete_ingredient_button" href="#" data-turbolinks="false">\n' +
                        '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>\n' +
                      '</a>';
    var hidden = '<input data-index="' + next_index + '" type="hidden" value="' + name + 
                 '" name="recipe[recipe_products_attributes][' + next_index + '][name]"' +
                 'id="recipe_products_attributes_' + next_index + '_name" />';

    $list.append('<li>' + name + delete_icon + hidden + '</li>');

    $ingredient_counter.html(next_index + 1);

    $new_ingredient_name.val('');
  });

  $('#new_ingredient_name').keydown(function(e) {
    if(e.which == 13) {
      e.preventDefault();
      $('#add_ingredient_button').click();

      return false;
    }
  });

  // Binding to body since this is replaced when turbolinks changes pages
  $('body').on('click', '.delete_ingredient_button', function() {
      if(confirm("Are you sure you want to remove this ingredient?")) {
        var li = $(this).parents('li');

        // Remove the hidden with the id
        li.next('input[type=hidden]').remove();

        // Remove the li
        li.remove();
      }

      return false;
  });
</script>
