<h1>Products</h1>

<%= form_tag products_path, id: 'products_form' do %>
  <div class="col-md-3">
    <h2>Ordered</h2>
    <ol id="ordered_products" class="list-of-cards">
      <% @ordered_products.each_with_index do |product, index| %>
        <li class="card">
          <%= product.name %>
          <%= hidden_field_tag "products[#{index}][id]", product.id %>
          <%= hidden_field_tag "products[#{index}][order]", product.order, class: 'order' %>
        </li>
      <% end %>
    </ol>
    <%= submit_tag "Save Ordering", class: 'btn btn-primary' %>
    <%= link_to "Cancel", root_url, class: 'btn btn-default' %>
  </div>
<% end %>

<div class="col-md-3">
  <h2>Unordered</h2>
  <ul id="unordered_products" class="list-of-cards">
    <% @unordered_products.each_with_index do |product, index| %>
      <li class="card">
        <%= product.name %>
        <%= hidden_field_tag "products[#{@ordered_products.size + index}][id]", product.id %>
        <%= hidden_field_tag "products[#{@ordered_products.size + index}][order]", "", class: 'order'%>
      </li>
    <% end %>
  </ul>
</div>

<script>
(function() {
  var unordered = document.getElementById('unordered_products');
  var ordered = document.getElementById('ordered_products');

  Sortable.create(unordered, { group: { name: "products", put: false } });
  Sortable.create(ordered,   { group: "products", scroll: true, delay: 100, scrollSensitivity: 75 });

  // Set the order on each item in the list before submitting
  // This assumes jquery returns these in the order they appear on the page
  $('#products_form').submit(function(e) {
    $('#ordered_products .order').each(function(index, el) {
      $(el).val(index); 
    });
  });
}());
</script>
